.DS_Store
node_modules
dist
fonts
src/assets/json/img
utils/__pycache__
utils/.ipynb_checkpoints
utils/*.ipynb
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
